@model ProjetoBiblioteca.Models.Sugestao

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/emprestimocriarcss.css" asp-append-version="true" />
<div class="titulo">
    <h1>Editar</h1>

    <h4>Sugestão</h4>
</div>

<div class="geral">
    <div class="box-1">

    </div>
    <div class="row">
    <div class="col-md-7">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SugestaoId" />
            <div class="form-group">
                <label asp-for="PessoaId" class="control-label"></label>
                <select asp-for="PessoaId" class="form-control" asp-items="ViewBag.PessoaId"></select>
                <span asp-validation-for="PessoaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescSugestao" class="control-label"></label>
                <input asp-for="DescSugestao" class="form-control" />
                <span asp-validation-for="DescSugestao" class="text-danger"></span>
            </div>
            <div class="gebotao">
                    <div class="form-group">
                        <input type="submit" value="Criar" class="btn btn-priary" />
                    </div>
                    <button class="vol"><a asp-action="Index">Voltar</a></button>
            </div>
        </form>
    </div>
</div>
<div class="box-3">

</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
