@model ProjetoBiblioteca.Models.Genero

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/emprestimocriarcss.css" asp-append-version="true" />
<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar este gênero?</h3>
<div>
    <h4>Genero</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneroNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneroNome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GeneroId" />
        <div class="gebotao">
            <div>
                <input style="border: 1px solid black" type="submit" value="Deletar" class="btn btn-danger" /> <span style="margin-left:5px">|</span>
            </div>
            <button style="margin-left:10px;"><a asp-action="Index">Voltar</a></button>
        </div>
    </form>
</div>
