@model ProjetoBiblioteca.Models.Genero

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/emprestimocriarcss.css" asp-append-version="true" />
<div class="titulo">
    <span>Editar</span>
    <h4>Gênero</h4>
</div>

<div class="geral">
    <div class="box-1">

    </div>
    <div class="row">
    <div class="col-md-7">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GeneroId" />
            <div class="form-group">
                <label asp-for="GeneroNome" class="control-label"></label>
                <input asp-for="GeneroNome" class="form-control" />
                <span asp-validation-for="GeneroNome" class="text-danger"></span>
            </div>
            <div class="gebotao">
                        <div class="form-group">
                            <input type="submit" value="Salvar" class="btn btn-priary" />
                        </div>
                    <button class="vol"><a asp-action="Index">Voltar</a></button>
                    </div>
        </form>
    </div>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
