
<body class="bodyHome">
    @{
        ViewData["Title"] = "Home Page";
    }

<div class="caixa">
    <link rel="stylesheet" href="/css/home.css" />
    <span style="color:white" class="frase1">Bem-vindo(a) à biblioteca  do SESI-143 de Bariri</span>
    <div class="frahome">
        <span style="color:white" class="frase2">"Num reino onde as palavras se metamorfoseiam em encantamentos arcanos e o conhecimento se transmuta em uma alquimia mágica."</span>
    </div>

</div>
</body>

