@{
    ViewData["Title"] = "Home Page";
}

<div class="caixa">
    <link rel="stylesheet" href="/css/home.css" />
    <span class="frase1">Bem-vindo ao mundo mágico dos livros</span>
    <img class="img" src="/img/bibliotca.png"/>
    <span class="frase2">"Num reino onde as palavras se metamorfoseiam em encantamentos arcanos e o conhecimento se transmuta em uma alquimia mágica."</span>
</div>
