@model ProjetoBiblioteca.Models.Reclamacao

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Reclamação</h1>

<h4>Reclamação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pessoa" class="control-label"></label>
                <select asp-for="PessoaId" class ="form-control" asp-items="ViewBag.PessoaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DescReclamacao" class="control-label"></label>
                <input asp-for="DescReclamacao" class="form-control" />
                <span asp-validation-for="DescReclamacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivroImagem" class="control-label"></label>
                <input asp-for="LivroImagem" class="form-control" />
                <span asp-validation-for="LivroImagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button> <a asp-action="Index">Voltar</a></button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
