@model ProjetoBiblioteca.Models.Reclamacao

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/emprestimocriarcss.css" asp-append-version="true" />
<div class="titulo">
    <span>Reclamação</span>
</div>

<div class="geral">
    <div class="box-1">

    </div>
    <div class="row">
    <div class="col-md-7">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pessoa" class="control-label"></label>
                <select asp-for="PessoaId" class ="form-control" asp-items="ViewBag.PessoaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DescReclamacao" class="control-label"></label>
                <input asp-for="DescReclamacao" class="form-control" />
                <span asp-validation-for="DescReclamacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivroImagem" class="control-label"></label>
                <input type="file" name="LivroImagem" id="LivroImagem" onchange="fileCheck(this);" /><br />
                <span asp-validation-for="LivroImagem" class="text-danger"></span>
            </div>
            <a class="ajuda" href="#">Precisa de ajuda?</a>
            <div class="gebotao">
                    <div class="form-group">
                        <input type="submit" value="Criar" class="btn btn-priary" />
                    </div>
                    <button class="vol"><a asp-action="Index">Voltar</a></button>
            </div>
            
        </form>
    </div>
</div>
<div class="box-3">

</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
