@model ProjetoBiblioteca.Models.Reclamacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Reclamação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReclamacaoId" />
            <div class="form-group">
                <label asp-for="PessoaId" class="control-label"></label>
                <select asp-for="PessoaId" class="form-control" asp-items="ViewBag.PessoaId"></select>
                <span asp-validation-for="PessoaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescReclamacao" class="control-label"></label>
                <input asp-for="DescReclamacao" class="form-control" />
                <span asp-validation-for="DescReclamacao" class="text-danger"></span>
            </div>
            <div>
                <img src="@Url.Content(@ViewBag.ImgExibicao)" class="img-recl" />
                <input type="hidden" asp-for="LivroImagem2" />
            </div>
            <div class="form-group">
                <label asp-for="LivroImagem" class="control-label"></label>
                <input type="file" name="LivroImagem" id="LivroImagem" onchange="fileCheck(this);" /><br />
                <span asp-validation-for="LivroImagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button>  <a asp-action="Index">Voltar</a></button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
