body {
}
.box-1{
    width:20%;
    margin-top:190px;
}
.row{
    width:60%;
    margin: 0 auto;
    justify-content:center;
    margin-top:50px;
}
.box-3{
    width: 20%;
}
.geral{
    display:flex;
}
.titulo{
    text-align:center;
}
.form-control{
    width:300px;
}