body {
    background-color: #D4D7D7;
}
.frase1 {
    font-size: 35px;
    display: block;
    margin-top: 50px;
    color: #8F766D;
}
.frase2 {
    font-size: 25px;
    display: block;
    color: #8F766D;
}
.heder {
    background-color: #626262;
    height: 100px;
}
.caixa{
    text-align:center;
}
.img{
    height: 370px;
}
.logo{
    width:200px;
    height: 90px;
}
.icon {
    font-size: 50px;
    margin-right: 80px;
    color: black;
    margin-bottom:10px;
}
.item-submenu:hover .submenu{
    display:block;
}



.submenu {
    display: none;
    width: 195px;
    height: 140px;
    background-color: #626262;
    position: absolute;
    top: 3.2rem;
    left: 7rem;
    box-sizing: border-box;
    text-align: left;
    font-family: sans-serif;
    margin-left: 80%;
    margin-top: 3%;
    list-style: none;
}

.submenu > li {
      margin: 1rem 0;
     list-style-type: none;
}

.submenu > li a {
    color: white;
    text-decoration: none;
    list-style: none;

}
.item-submenu  {
    list-style: none;
    color:white !important;
}
