body {
    background-color: #FBF0E3;
}
.frase1 {
    font-size: 35px;
    display:block;
}
.frase2 {
    font-size: 25px;
    display: block;
}
.heder {
    background-color: #DADDB1;
    height: 100px;
}
.caixa{
    text-align:center;
}
.img{
    height: 370px;
}
.logo{
    width:200px;
    height: 75px;
}
.icon {
    font-size: 50px;
    margin-right: 100px;
}
.item-submenu:hover .submenu{
    display:block;
}



.submenu {
    display: none;
    width: 210px;
    height: 200px;
    background-color: #DADDB1;
    position: absolute;
    top: 3.2rem;
    left: 7rem;
    padding: 1rem 1.2rem;
    box-sizing: border-box;
    text-align: left;
    font-family: sans-serif;
    margin-left:80%;
    margin-top: 3%;
    list-style: none;
}

.submenu > li {
      margin: 1rem 0;
     list-style-type: none;
}

.submenu > li a {
    color: white;

}
