body {
}
.bodyHome {
    background-image: radial-gradient(rgba(25, 25, 25, 0.45), rgba(0, 0, 0, 0.75)), url("/img/fotobiblioteca (2) (1) (1).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 480px;
}
.frase1 {
    font-size: 35px;
    display: block;
    margin-top: 50px;
}
.frase2 {
    font-size: 25px;
    display: block;
}
.heder {
    height: 100px;
}
.caixa {
    text-align: center;
}
.img{
    height: 370px;
}
.logo{
    width:200px;
    height: 90px;
}
.icon {
    font-size: 50px;
    margin-right: 80px;
    color: black;
    margin-bottom:10px;
}
.item-submenu:hover .submenu{
    display:block;
}
.submenu {
    display: none;
    width: 195px;
    height: 140px;
    background-color: #3D3D3D;
    position: absolute;
    top: 3.2rem;
    left: 7rem;
    box-sizing: border-box;
    text-align: left;
    font-family: sans-serif;
    margin-left: 80%;
    margin-top: 3%;
    list-style: none;
}
.submenu > li {
      margin: 1rem 0;
     list-style-type: none;
}
.submenu > li a {
    color: white;
    text-decoration: none;
    list-style: none;

}
.item-submenu  {
    list-style: none;
    color:white !important;
}
.frahome{
    width:500px;
    height:150px;
    margin-top:300px;
    margin-left:800px;
    text-align:justify;
    
}
