html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #F7FFFF;
}
button {
    background-color: #C1C1C1;
    border: solid 2px #000000 ;
    border-radius:5px;
}
button > a {
    color: black !important;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #858585;
}
.pesquisa {
    background-color: #C1C1C1;
    color: #000000;
}
h1{
    margin-top:20px;
    margin-bottom:15px;
}